<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Control</servlet-name>
        <servlet-class>livraria.web.controle.Control</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Control</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/InserirCliente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/InserirEndereco</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/InserirCartao</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/ListarClientes</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/ListarEndereco</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/ListarCartao</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/PreAlterarCliente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/AlterarCliente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/AlterarEndereco</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/DesativarCliente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/AtivarCliente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/ExcluirCartao</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/AutenticarCliente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/LogoutCliente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/InserirLivro</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/ListarLivros</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/PreAlterarLivro</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/AlterarLivro</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/DesativarLivro</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/AtivarLivro</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/InserirCategoria</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/AlterarCategoria</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/ListarCategorias</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/PreAlterarCategoria</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/InserirGrupoLivro</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/ListarGrupoLivros</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/PreAlterarGrupoLivro</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Livros/AlterarGrupoLivro</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/AdicionarCarrinho</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/VerCarrinho</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/RemoverCarrinho</url-pattern>
    </servlet-mapping>       
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/AdicionarPedido</url-pattern>
    </servlet-mapping>   
         
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/AuxilioPedido</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/AdicionarPedido</url-pattern>
    </servlet-mapping>  

    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/adm/ListarPedidos</url-pattern>
    </servlet-mapping>    
      
      <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/adm/GerenciarPedido</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/ListarMeusPedidos</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/SolicitarTroca</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/adm/ListarSolicitacaoTrocas</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/adm/AutorizarTroca</url-pattern>
    </servlet-mapping> 
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/ConsultarCupomTroca</url-pattern>
    </servlet-mapping> 
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/AdicionarCarrinhoSessao</url-pattern>
    </servlet-mapping> 



    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/AutenticarClienteCompra</url-pattern>
    </servlet-mapping> 
       
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Estoque/InserirEstoque</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Estoque/ListarEstoqueLivros</url-pattern>
    </servlet-mapping>
       
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Estoque/PreAlterarEstoque</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Estoque/AlterarEstoque</url-pattern>
    </servlet-mapping>    
 
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/AplicarDesconto</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/adm/ListarItemPedido</url-pattern>
    </servlet-mapping>   
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/adm/ListarPagamentoPedido</url-pattern>
    </servlet-mapping> 
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/adm/AnaliseVendas</url-pattern>
    </servlet-mapping>                                                
                                  
     <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/RetirarDesconto</url-pattern>
    </servlet-mapping>                                                     
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/adm/Analisar</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/PreAlterarSenhaCliente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Clientes/AlterarSenhaCliente</url-pattern>
    </servlet-mapping>                                                                                                                                                       
 
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/adm/ListarTrocas</url-pattern>
    </servlet-mapping>    
     
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/RetiraUmItem</url-pattern>
    </servlet-mapping>                                                                                                                                                                                                                                                                  
         
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/AumentaUmItem</url-pattern>
    </servlet-mapping>    
    
      <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/RemoverLivroCarrinho</url-pattern>
    </servlet-mapping>        
                
       <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/AddItem</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Pedidos/RemItem</url-pattern>
    </servlet-mapping>                             
         
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
